div
{
    font-family: Arial;
}
.container
{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200,200,200);
    width:350px;
    border-radius: 6px;
}
.flex-box
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-bottom: 12px;
    
}

.home
{
    background-color: blue;
    color:white;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-bottom: 10px;
}