p
{
    font-family: Arial;
    margin-top:0;
    margin-bottom:0;
}
.usd
{
    font-size: 32px;
    margin-bottom: 5px;
}
.uu
{
    font-size: 16px;
    color:gray;
}
.today
{
    color:green;
    font-size: 20px;
    margin-bottom: 8px;
}
.after
{
    font-size: 20px;
    color:gray;
}
.aa
{
    color:red;
}