p
{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}
.free
{
    font-weight: bold;
    margin-bottom: 10px;
}
.ff
{
    color: gray;
}
.as
{
    width:700px;
    margin-bottom: 20px;
}
.hh
{
    color:blue;
}